@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    box-sizing: border-box;
}
body {
    margin: 0;
}